---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Contact from "@/components/Contact.astro";
import Nosotros from "@/components/Nosotros.astro";
import Service from "@/components/Service.astro";
import Welcome from "@/components/Welcome.astro";
import Products from "@/components/Products.astro";
---

<BaseLayout>
  <Header />

  <main class="flex-1">
    <Welcome />
    <Service />
    <Products />
    <Contact />
    <Nosotros />
  </main>

  <Footer />
</BaseLayout>
