---
import "@/styles/global.css";
import logo from "@/assets/logo.png";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href={logo.src} />
    <link rel="apple-touch-icon" href={logo.src} />
    <meta
      name="description"
      content="EmySoftware - Desarrollo de software a medida, consultoría tecnológica y soluciones empresariales"
    />
    <title>EmySoftware - Soluciones de Software Innovadoras</title>
  </head>

  <body class="min-h-screen flex flex-col bg-white dark:bg-neutral-900">
    <slot />
  </body>
</html>
